body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;

}

.bioData {
    margin: 70px;

    display: flex;
    margin-top: 80px;
    border-radius: 10px;

}

.bioData h1 {
    font-size: 35px;
}

.introduction {
    color: orange;
}

.IntroInfo {
    width: 50%;
    padding-left: 50px;

}

.btn {
    text-decoration: none;
    background-color: yellow;
    padding: 10px 30px;
    border-radius: 10px;
}

.IntroInfo img {
    width: 50%;
    height: 85%;
    margin-top: 40px;
    padding-left: 300px;

}

.radient {
    border-left: 3px solid;
    border-image: linear-gradient(rgb(223, 223, 14) red);
    border-image-slice: 1;


}


/* Second Section Start */
.dream {
    margin: 70px;

}

.dream h1 {
    font-size: 35px;
}


.missiontitle {
    margin-top: 50px;
    text-align: center;
}

.Purpse {
    display: flex;
    width: 100%;



}

.MiViGo {
    width: 33%;
    margin: 10px;
    text-align: justify;

}

.MiViGo img {
    width: 50%;
    height: 50%;
}

.mission {
    background-color: antiquewhite;

    margin: 20px;
    padding: 20px;
    border-radius: 30px;

}

.vission {
    background-color: lightblue;

    margin: 20px;
    padding: 20px;
    border-radius: 30px;

}

.goals {
    background-color: rosybrown;

    margin: 20px;
    padding: 20px;
    border-radius: 30px;

}

/* Section 3 Start */
.develop {

    display: flex;
    background-image: url(images/shapes/dream-bg.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: left;

}

.devimg img {
    margin-left: 40px;
    width: 70%;
    padding: 50px;



}

.devinfo {
    padding-top: 130px;
}